.DS_Store
.env
.env.*
!.env.example
.env.local
.env.*.local
.next
.next-dev
.next-build
tsconfig.tsbuildinfo
node_modules
coverage
.vercel
supabase/.temp
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
